In [12]:
# Importando as bibliotecas
import numpy as np
import pandas as pd

In [17]:
# Indexação de linhas (números, letras e datas)
# [5,8)
# pd.DataFrame(np.random.randn(3, 3), index = range(5, 8), columns=[*"ABC"])

datas = pd.date_range('08/01/2020', periods = 3)

d = pd.DataFrame(np.random.randn(3, 3), index = datas, columns=[*"ABC"])

In [38]:
#d.index = [1, 2, 5]
d.index = ["Churros", "Banana", "Jailson"]

In [39]:
d

                A         B         C
Churros -0.786925  0.529668 -1.056290
Banana   1.261394  1.658804 -0.137050
Jailson -0.601435  0.446043 -1.206714

In [42]:
# Colunas como atributos
#type(d[["A"]])
d.A

Churros   -0.786925
Banana     1.261394
Jailson   -0.601435
Name: A, dtype: float64